.fadeUp {
	opacity:0;
	transform: scale(0.98) translateY(50px);
	transform-origin: center;
	transition: opacity 0.5s, transform 0.5s;
}
.fadeUp.active {
	opacity: 1;
	transform: scale(1) translateY(0);
}
.fadeRight {
	opacity:0;
	transform: scale(0.98) translateX(50px);
	transform-origin: center;
	transition: opacity 0.5s, transform 0.5s;
}
.fadeRight.active {
	opacity: 1;
	transform: scale(1) translateX(0);
}
.fadeLeft {
	opacity:0;
	transform: scale(0.98) translateX(-50px);
	transform-origin: center;
	transition: opacity 0.5s, transform 0.5s;
}
.fadeLeft.active {
	opacity: 1;
	transform: scale(1) translateX(0);
}



/* 상단 타이틀 애니메이션 */
#worldSupportContWrap .card_box .objt {
	opacity:0;
	/* transform-origin: left center;  */
}

.titleAni {
    animation-duration: 1s;
    animation-name: titleAni;
	animation-fill-mode: both;
}
.titleAni02 {
    animation-duration: 1s;
    animation-name: titleAni02;
	animation-fill-mode: both;
}

@keyframes titleAni {
    0% {
		opacity: 0;
		transform: scale(0.3);
	}
	10% {
		transform: scale(3);	
	}
	20% {
		transform: scale(0.5);
	}
	40% {
		transform: scale(1.8);
	}
	50% {
	   transform: scale(0.7);
	}
	60% {
	   transform: scale(1.2);
	}
	80% {
	   transform: scale(0.8);
	}
	100%	{
		opacity:1;
		transform: scale(1);
	}
} 
@keyframes titleAni02 {
    0% {
		opacity: 0;
		transform: scale(0.3) translateX(-50%);
	}
	10% {
		transform: scale(1) translateX(-50%) ;	
	}
	20% {
		transform: scale(0.5) translateX(-50%);
	}
	40% {
		transform: scale(1.4) translateX(-50%);
	}
	50% {
	   transform: scale(0.7) translateX(-50%);
	}
	60% {
	   transform: scale(1.1) translateX(-50%);
	}
	80% {
	   transform: scale(0.8) translateX(-50%);
	}
	100%	{
		opacity:1;
		transform: scale(1) translateX(-50%);
	}
}

.blurTxtAni i, 
.blurTxtAniFast i{
	opacity:0;
	transition:all 0.5s;
	filter:blur(10px);
}
.blurTxtAni i.on,
.blurTxtAniFast i.on{
	opacity:1;
	filter:blur(0);
}